/*** Logo crm-star ***/

#logo-crm-star{
	/*background-image: url("../img/logo/logo_gris999_40.png");  Ruta relativa al archivo css*/
	background-image: url("../img/logo/logo-blanco.svg");  /*Ruta relativa al archivo css*/
	/*background-image: url("../img/logo/logo_gris999_30.png"); Ruta relativa al archivo css*/
	/*height: 40px;*/
	/*width: 42px;*/
	background-size: cover;
	height: 25px;
	width: 45px;
	/*height: 30px;*/
	/*width: 55px;*/
	padding: 0;
	/*margin: 5px;*/
	margin: 11px;
	/*margin: 10px;*/
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}

#logo-crm-star:hover{
	/*background-image: url("../img/logo/logo_blanco_40.png"); Ruta relativa al archivo css*/
	/*background-image: url("../img/logo/logo_blancoBrillo_20.png"); /*Ruta relativa al archivo css*/
	/*background-image: url("../img/logo/logo_blanco_30.png"); Ruta relativa al archivo css*/
	opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}

/*** Estilos del header ***/
.nav .usuario{
	margin: 0;
	padding: 0;
	padding-right: 5px;
}
.nav li:hover .img-usuario, .nav li.open .img-usuario{
	opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}
.nav .usuario .img-usuario{
	max-height: 40px;
	margin: 5px;
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}
.nav li:hover .img-usuario, .nav li.active .img-usuario{
	opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}

/*** Estilos del botón responsive del sidebar ***/

.navbar-toggle .main-left{
	border:solid 2px #fff;
	display:table-cell;
	width:17px;
	height:14px;
	border-top-left-radius:1px;
	border-bottom-left-radius:1px;
}

.navbar-toggle .sidebar-right{
	/*background-color: #fff;*/
	border:solid 2px #fff;
	border-left: 0;
	display:table-cell;
	width:5px;
	height:14px;
	border-top-right-radius:1px;
	border-bottom-right-radius:1px;
}

/****** SIDEBAR ******/
/* Disabled link */
.list-group > a.disabled {
	color: #999999;
}
.list-group > a.disabled:hover,
.list-group > a.disabled:focus {
	color: #999999;
	text-decoration: none;
	background-color: transparent;
	cursor: not-allowed;
}

/****** Formularios ******/
.form-group.required .control-label:after, .asterisk { 
	font-family: 'Glyphicons Halflings';
	font-weight: lighter;
	font-size: 1rem;
	/*font-size: 2rem;*/
	content:"*";
	color:red;
}
.padding0{
	padding:0;
}

/****** Fichas de datos ******/
.ficha{
	padding: 0;
}

.ficha .titulo, .container-fluid .dato{
	border-bottom: 1px solid #ddd;
	/*font-size: 1.5rem;*/
	padding: 5px;
	min-height: 31px;
	height: 100%;
	/*position: relative;*/
}

.ficha .titulo{
	background-color: #F5F5F5;
}

/****** CONTACTOS ******/
/*Estilos de estado*/
.estado-contacto-indeterminado{
	color:gray;
	padding: 3px;
	border-radius: 5px;
	border: 1px solid gray;
	font-style: italic;
}
.estado-contacto-potencial{
	background-color:#f0ad4e;
	color:white;
	padding: 3px;
	border-radius: 5px;
	border: 1px solid #f0ad4e;
}
.estado-contacto-activo{
	background-color:#5cb85c;
	color:white;
	padding: 3px;
	border-radius: 5px;
	border: 1px solid #5cb85c;
}
.estado-contacto-agotado{
	background-color:#d9534f;
	color:white;
	padding: 3px;
	border-radius: 5px;
	border: 1px solid #d9534f;
}

/****** IFRAME MODAL ******/
.iframe-modal{
	/*height: 300px;*/
	width: 100%;
	/*margin: 5px;*/
	padding: 5px;
	border:0;
	overflow:hidden;
}

/****** CAMPAÑAS ******/
/*Estilos de estado*/
.estado-campanya-planificacion{
	color:gray;
	padding: 3px;
	border-radius: 5px;
	border: 1px solid gray;
}
.estado-campanya-activa{
	background-color:#5cb85c;
	color:white;
	padding: 3px;
	border-radius: 5px;
	border: 1px solid #5cb85c;
}
.estado-campanya-inactiva{
	background-color:#f0ad4e;
	color:white;
	padding: 3px;
	border-radius: 5px;
	border: 1px solid #f0ad4e;
}
.estado-campanya-completada{
	background-color:#5bc0de;
	color:white;
	padding: 3px;
	border-radius: 5px;
	border: 1px solid #5bc0de;
}
.estado-campanya-suspendida{
	background-color:#d9534f;
	color:white;
	padding: 3px;
	border-radius: 5px;
	border: 1px solid #d9534f;
}
.estado-contacto-aplazada{
	background-color:#428bca;
	color:white;
	padding: 3px;
	border-radius: 5px;
	border: 1px solid #428bca;
}