<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule .$ /crm/index.php/$1 [PT, L]
</IfModule>
<IfModule !mod_rewrite.c>
    ErrorDocument 404 /crm/index.php
</IfModule>

# Mostrar errores por pantalla
php_flag display_errors On